.statPanel {
  width: 100vw;
  background: rgb(223 219 219 / 63%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3vw 4vw;
}
.statPanel-title {
  text-align: start;
  font-size: 17px;
  font-weight: 600;
}
.statPanel-name {
  display: flex;
  font-size: 21px;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}
.statPanel-stat {
  font-size: 17px;
  font-weight: 600;
}
.statPanel-pet-info {
  cursor: pointer;
  color: azure;
  border-radius: 50%;
  border: 1px solid azure;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in;
}
.statPanel-pet-info:hover {
background-color: azure;
color: #958e8e;
}
.containerStat {
  width: 72vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}
.statPanel-name-money {
  display: flex;
  width: 20vw;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
}
.money-container-img {
  width: 38px;
}
.money-container {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(218, 197, 8);
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}
.conteiner-comands {
  z-index: 10;
  position: fixed;
  right: 0;
  width: 13vw;
  min-width: 200px;
  background: rgb(223 219 219 / 46%);
}
.container-delicacy {
  display: flex;
  align-items: center;
}
.delicacy-img {
  width: 48px;
  cursor: pointer;
}
.delicacy-stat {
  font-size: 30px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(218, 197, 8);
}
.delicacy-buy {
  cursor: pointer;
  margin-left: 8px;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.4s ease;
  color: rgb(218, 197, 8);
}
.delicacy-buy:hover {
  color: rgba(194, 175, 8, 0.849);
}
.comand-title {
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.container-comand-dinamic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 3vw;
}
.comand {
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: color 0.4s ease;
  white-space: nowrap;
}
.comand-progress {
  white-space: nowrap;
}
.comand:hover {
  color: rgba(56, 56, 56, 0.849);
}
.nav-game {
  margin: 15px 0;
  display: flex;
}
.link-to-street {
  color: azure;
  font-size: 17px;
  font-weight: 600;
  text-align: start;
  margin: 5px 0px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.market-container-btn {
  width: fit-content;
  color: azure;
  font-size: 17px;
  font-weight: 600;
  text-align: start;
  margin: 5px 0 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.market-container-btn img {
  width: 32px;
}
.exit {
  margin-top: 30px;
  position: fixed;
  right: 20px;
  color: #bbc2c5;
  font-size: 17px;
  font-weight: 700;
}
.statPanel-lvl {
  color: aliceblue;
  font-weight: 900;
  font-family: math;
}
.progress-exp {
  width: 100px;
  height: -moz-fit-content;
  height: fit-content;
  background: #958e8e;
  text-align: center;
  color: rgba(220, 243, 243, 0.925);
  border-radius: 5px;
  /* border: 1px solid; */
  box-shadow: 0 0 6px 1px;
  position: relative;
}

.statPanel-exp-progress-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
