.statPanel {
  width: 100vw;
  background: rgb(223 219 219 / 63%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3vw 4vw;
}
.statPanel-title {
text-align: start;
  font-size: 17px;
  font-weight: 600;
}
.statPanel-name {
  font-size: 21px;
}
.statPanel-stat {
  font-size: 17px;
  font-weight: 600;
}
.containerStat {
  width: 75vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}
.statPanel-name-money {
  display: flex;
  width: 15vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.money-container-img {
  width: 38px;
}
.money-container {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(218, 197, 8);
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}
.conteiner-comands {
  z-index: 10;
  position: fixed;
  right: 0;
  width: 13vw;
  min-width: 200px;
  background: rgb(223 219 219 / 46%);
}
.container-delicacy {
  display: flex;
  align-items: center;
}
.delicacy-img {
  width: 48px;
  cursor: pointer;
}
.delicacy-stat {
  font-size: 30px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(218, 197, 8);
}
.delicacy-buy {
  cursor: pointer;
  margin-left: 8px;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.4s ease;
  color: rgb(218, 197, 8);
}
.delicacy-buy:hover {
  color: rgba(194, 175, 8, 0.849);
}
.comand-title {
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.container-comand-dinamic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 3vw;
}
.comand {
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: color 0.4s ease;
  white-space: nowrap;
}
.comand-progress {
  white-space: nowrap;
}
.comand:hover {
  color: rgba(56, 56, 56, 0.849);
}
.nav-game {
  display: flex;
}
.link-to-street {
  color: azure;
  font-size: 17px;
  font-weight: 600;
  text-align: start;
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.market-container-btn {
  width: 51px;
  color: azure;
  font-size: 17px;
  font-weight: 600;
  text-align: start;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.market-container-btn img {
  width: 32px;
}
