.location-home-body {
  /* background-image: url("../img/background/locationHome.png"); */
  width: 100vw;
  height: 100vh;
  background-size: cover !important;
  background-position: bottom !important;
}
.pet-img {
  z-index: 2;
  position: fixed;
  left: 62vw;
  bottom: 15.5%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  max-height: 430px;
  max-width: 416px;
}
.btn-feed {
  cursor: pointer;
  background: none;
  border: none;
  width: 100px;
  position: absolute;
  left: 20%;
  bottom: 20%;
  transform: translate(-50%, 0%);
}
.btn-game-green-ball {
  cursor: pointer;
  background: none;
  border: none;
  height: 60px;
  position: absolute;
  left: 15%;
  bottom: 10%;
  transform: translate(-50%, -20%);
}
.btn-game-green-ball:hover {
  animation: ball_green_rotation 2s infinite;
}
.btn-game-canat {
  cursor: pointer;
  background: none;
  border: none;
  max-height: 60px;
  max-width: 200px;
  position: absolute;
  left: 73%;
  bottom: 8%;
  transform: translate(0%, 0%);
}
.btn-game-canat-active {
  cursor: pointer;
  background: none;
  border: none;
  max-height: 60px;
  max-width: 200px;
  position: absolute;
  left: 73%;
  bottom: 8%;
  transform: translate(0%, 0%);
  animation: canat_game_active 5s;
}
.btn-game-green-ball-active {
  cursor: pointer;
  background: none;
  border: none;
  height: 60px;
  position: absolute;
  left: 15%;
  bottom: 10%;
  transform: translate(-50%, -20%);
  animation: ball_green_active 4.7s;
}
.shit {
  z-index: 10;
  cursor: pointer;
  width: 52px;
  position: absolute;
  right: 23%;
  bottom: 37%;
  transform: translate(50%, 50%);
  animation: shit_anim 5s infinite;
}

.object-page-container {
  width: 90vw;
  position: relative;
  top: 35vh;
  height: 35vh;
  margin: auto;
}
.punching-bag {
  max-width: 200px;
  width: 45vw;
  min-width: 100px;
  position: fixed;
  right: -90px;
  bottom: 30%;
}

@keyframes ball_green_active {
  0% {
    z-index: 11;
    left: 15%;
    bottom: 10%;
    transform: translate(-50%, -20%);
  }
  30% {
    /* z-index: 3; */
    left: 80vw;
    bottom: 41vh;
    transform: translate(0%, 0%);
  }
  70% {
    /* z-index: 11; */
    left: 80vw;
    bottom: 41vh;
    transform: translate(0%, 0%);
  }
  100% {
    z-index: 11;
    left: 15%;
    bottom: 10%;
    transform: translate(-50%, -20%);
  }
}
@keyframes ball_green_rotation {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 90deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes canat_game_active {
  0% {
    z-index: 11;
  }
  30% {
    transform: rotate(198deg);
    /* z-index: 11; */
    left: 75%;
    bottom: 40vh;
  }
  80% {
    /* z-index: 11; */
    transform: rotate(198deg);
    left: 75%;
    bottom: 40vh;
  }
  100% {
    z-index: 11;
    bottom: 8%;
  }
}
@keyframes shit_anim {
  30% {
    -webkit-filter: drop-shadow(3px 5px 5px #4eca36);
    filter: drop-shadow(-3px -5px 5px #4eca36);
  }
  60% {
    -webkit-filter: none;
    filter: none;
  }
  80% {
    -webkit-filter: drop-shadow(3px 5px 5px #4eca36);
    filter: drop-shadow(-3px -5px 10px #4eca36);
  }
}
