@media screen and (max-width: 650px) {
  * {
    font-size: 13px;
  }
  .statPanel-stat,
  .statPanel-title,
  .comand {
    font-size: 13px;
  }
  .background-home-page {
    height: 100vh;
    flex-direction: column-reverse;
  }
  .money-container-img {
    width: 28px;
  }
  .container-preview {
    width: 100vw;
    height: 40%;
  }
  .container-select-pets {
    width: 100vw;
    padding: 20px 0;
  }
  .card-pets-list-container {
    gap: 20px;
  }
  .card-pets {
    width: 50%;
    height: 30vh;
  }
  .preview-pet {
    bottom: 22%;
  }
  .btn-feed {
    left: 12% !important;
    bottom: 25% !important;
    transform: translate(-50%, -20%);
    width: 25vw;
    z-index: 10;
  }
  .btn-game-canat {
    width: 30vw;
  }
  /* Мобильная версия */
  @media screen and (max-width: 500px) {
    .link-secect-pet-container {
      bottom: 15%;
    }
    .home-title {
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      font-size: calc(20px + 4vw);
      white-space: nowrap;
      color: rgb(87 87 87 / 79%);
  }
    .container-select-pets {
      padding: 0;
      height: 40%;
      display: block;
      overflow-x: auto;
    }
    .card-pets-list-container {
      height: auto;
      width: 580px;
      flex-direction: row;
      overflow-x: scroll;
      margin: 10px;
      padding: 5px;
    }
    .card-pets {
      width: 185px;
      display: flex;
      width: 50%;
      /* height: 25vh; */
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .preview_select_pets-avatar-conteiner {
      width: 100px;
      height: 100px;
      border: 4px solid rgba(7, 122, 7, 0.623);
    }
    .conteiner_preview_select_pets {
      padding: 0 10px;
      gap: 5px;
    }
    .preview_select_pets-avatar-img {
      margin: 0;
    }
    .preview-podium {
      bottom: 25%;
    }
    .btn-game-canat {
      width: 30vw;
      left: 63%;
    }
    .btn-game-canat-active {
      width: 30vw;
      left: 63%;
    }
    .preview-pet {
      bottom: 35%;
    }
    .new-card {
      height: 25vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  /* Анимации */
}
