.modal-log-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0px 2.5vw;
    background: url(../img//items/text.png);
    width: calc(20vw + 20vh);
    height: calc(15vw + 15vh);
    background-size: cover;
    z-index: 5;
    position: absolute;
    left: 68% !important;
    bottom: 45% !important;
    transform: translate(-50%, 0%);
    font-size: calc(3vw - 15px);
    font-weight: 600;
}
.hidden {
    display: none;
}