.modal-log-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0px 2.5vw;
    background: url(../img//items/text.png);
    width: calc(15vw + 15vh);
    height: calc(11vw + 11vh);
    background-size: cover;
    z-index: 5;
    font-size: calc(3vw - 25px);
    font-weight: 600;
    position: fixed;
    }
.hidden {
    display: none;
}