.weather-img,.weather-img-title {
    filter: invert(0.75);
}
.weather-text {
    color: #d5d5d5;
}
.weather-text-title {
    font-size: 24px;
}
.weather-now {
    color: #d5d5d5;
    font-size: 32px;
    border-bottom: 2px solid #d5d5d5;
}
.weather-now-title {
    font-size: 32px; 
}
.weather-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.weater-text {
    margin: 10px 0 10px 20px;
    color: #d5d5d5;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}